<H1> Hello, I am Groot </h1>
<img src="https://images-na.ssl-images-amazon.com/images/I/51wNtnC-ceL.jpg" 
 style="width:200px;height:170px;">
</h2> blablabla</h2>
<p><a href="about.html"> How about us</a>
<p><a href="Product.html"> Our Product</a>